html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#alive{
    color: greenyellow
}
#offline{
    color: red
}

#alive_section{
    border: 1px solid greenyellow;
}

#offline_section{
    border: 1px solid red;
}

#lavalinks{
    display: inline-grid;
    column-gap: 50px;
}