html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: whitesmoke;
}

#alive{
    color: greenyellow
}
#offline{
    color: red
}

#alive_section{
    border: 1px solid greenyellow;
    display: grid;
    column-gap: 50px;
}

#offline_section{
    border: 1px solid red;
    display: grid;
    column-gap: 50px;
}

#lavalinks{
    display: grid;
    column-gap: 50px;
    direction: ltr;
}
  
  